body {
    background-color: #001D3D;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
    animation: fadeInDown 1s ease-out;
}

p {
    margin-bottom: 32px; /* Reduced margin for less spacing below the paragraph */
    font-size: 19px;
    animation: fadeInDown 1.5s ease-out;
}

h2 {
    margin-top: 32px; /* Reduced top margin above the "Projects" heading */
    margin-bottom: 24px; /* Reduced bottom margin to move the button closer */
    font-size: 32px;
    font-weight: bold;
    color: #CCA000;
}

.btn-custom {
    background-color: #CCA000;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease-in-out;
    margin: 8px; /* Reduced margin for less space around the button */
}

.btn-custom:hover {
    background-color: #127ADC;
    transform: translateY(-5px);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px; /* Reduced gap between buttons */
}

hr {
    border: none;
    border-top: 2px solid #127ADC;
    width: 80%;
    margin: 32px auto; /* Reduced margin for less space around the hr */
    animation: fadeInDown 2s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-right-nav {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 16px;
}

.top-right-nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 32px;
    transition: color 0.3s ease;
}

.top-right-nav a:hover {
    color: #CCA000;
}

.bottom-left-text {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 12px;
    color: #CCA000;
}
